// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  padding: 40px;
  background-color: rgba(230, 230, 230, 0.5);
  font-size: 20px;
}

.layer {
  padding: 40px;
}

.layer-article {
  padding: 40px;
}

.form {
  width: 100%;
}
